In [1]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, join, outerjoin, MetaData, Table
import datetime as dt

In [2]:
#Extract csv into dataframes

wage_file = "Data/Minimum Wage Data.csv"
min_wage_df = pd.read_csv(wage_file, low_memory=False, encoding= 'latin')
min_wage_df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,...,0.00000,0.00,0.00000,0.00,NaN
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.1,2.10000,15.61,2.10000,15.61,NaN
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.46800,3.48,0.66000,4.91,(b)
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,1.25/day(b),0.15625,1.16,0.15625,1.16,(b)
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65(b),1.65000,12.26,1.65000,12.26,(b)

In [3]:
min_wage_df.columns

Index(['Year', 'State', 'State.Minimum.Wage',
       'State.Minimum.Wage.2020.Dollars', 'Federal.Minimum.Wage',
       'Federal.Minimum.Wage.2020.Dollars', 'Effective.Minimum.Wage',
       'Effective.Minimum.Wage.2020.Dollars', 'CPI.Average',
       'Department.Of.Labor.Uncleaned.Data',
       'Department.Of.Labor.Cleaned.Low.Value',
       'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars',
       'Department.Of.Labor.Cleaned.High.Value',
       'Department.Of.Labor.Cleaned.High.Value.2020.Dollars', 'Footnote'],
      dtype='object')

In [4]:
# rename columns
min_wage_df = min_wage_df.rename(columns={'State.Minimum.Wage': 'Past_State_Min_Wage', 'State.Minimum.Wage.2020.Dollars':'2020_State_Min_Wage',
                                          'Federal.Minimum.Wage':'Past_Fed_Min_Wage', 'Federal.Minimum.Wage.2020.Dollars':'2020_Fed_Min_Wage',
                                          'Effective.Minimum.Wage':'Past_Eff_Min_Wage','Effective.Minimum.Wage.2020.Dollars':'2020_Eff_Min_Wage',
                                          'CPI.Average': 'CPI_Avg', 'Department.Of.Labor.Cleaned.Low.Value':'DOL_Low', 'Department.Of.Labor.Cleaned.Low.Value.2020.Dollars':
                                          '2020_DOL_Low','Department.Of.Labor.Cleaned.High.Value':'DOL_High','Department.Of.Labor.Cleaned.High.Value.2020.Dollars':'2020_DOL_High'})

In [5]:
#drop columns
min_wage_df.columns
min_wage_df = min_wage_df[['Year', 'State', 'Past_State_Min_Wage', '2020_State_Min_Wage',
       'Past_Fed_Min_Wage', '2020_Fed_Min_Wage', 'Past_Eff_Min_Wage',
       '2020_Eff_Min_Wage', 'CPI_Avg','DOL_Low', '2020_DOL_Low', 'DOL_High', '2020_DOL_High']]
min_wage_df.head()

,Year,State,Past_State_Min_Wage,2020_State_Min_Wage,Past_Fed_Min_Wage,2020_Fed_Min_Wage,Past_Eff_Min_Wage,2020_Eff_Min_Wage,CPI_Avg,DOL_Low,2020_DOL_Low,DOL_High,2020_DOL_High
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,0.00000,0.00,0.00000,0.00
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,2.10000,15.61,2.10000,15.61
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,0.46800,3.48,0.66000,4.91
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,0.15625,1.16,0.15625,1.16
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,1.65000,12.26,1.65000,12.26

In [6]:
#add columns that calculate the percentage of state to federal minimum wage
min_wage_df['Past_Perc_of_Fed'] = round((min_wage_df['Past_State_Min_Wage']/min_wage_df['Past_Fed_Min_Wage']) * 100, 2)
min_wage_df['2020_Perc_of_Fed'] = round((min_wage_df['2020_State_Min_Wage']/min_wage_df['2020_Fed_Min_Wage']) * 100, 2)

In [7]:
# drop columns
min_wage_df.columns
min_wage_df = min_wage_df[['Year', 'State', 'Past_State_Min_Wage', '2020_State_Min_Wage',
       'Past_Fed_Min_Wage', '2020_Fed_Min_Wage', 'Past_Eff_Min_Wage',
       '2020_Eff_Min_Wage', 'CPI_Avg', 'Past_Perc_of_Fed', '2020_Perc_of_Fed']]
min_wage_df.head()

,Year,State,Past_State_Min_Wage,2020_State_Min_Wage,Past_Fed_Min_Wage,2020_Fed_Min_Wage,Past_Eff_Min_Wage,2020_Eff_Min_Wage,CPI_Avg,Past_Perc_of_Fed,2020_Perc_of_Fed
0,1968,Alabama,0.00000,0.00,1.15,8.55,1.15,8.55,34.8,0.00,0.00
1,1968,Alaska,2.10000,15.61,1.15,8.55,2.10,15.61,34.8,182.61,182.57
2,1968,Arizona,0.46800,3.48,1.15,8.55,1.15,8.55,34.8,40.70,40.70
3,1968,Arkansas,0.15625,1.16,1.15,8.55,1.15,8.55,34.8,13.59,13.57
4,1968,California,1.65000,12.26,1.15,8.55,1.65,12.26,34.8,143.48,143.39

In [8]:
#read education level csv
educ_path = 'Data/Education.csv'
educ_df = pd.read_csv(educ_path)
educ_df.head()

,FIPS Code,State,Area name,2003 Rural-urban Continuum Code,2003 Urban Influence Code,2013 Rural-urban Continuum Code,2013 Urban Influence Code,"Less than a high school diploma, 1970","High school diploma only, 1970","Some college (1-3 years), 1970",...,"Percent of adults completing some college or associate's degree, 2000","Percent of adults with a bachelor's degree or higher, 2000","Less than a high school diploma, 2011-2015","High school diploma only, 2011-2015","Some college or associate's degree, 2011-2015","Bachelor's degree or higher, 2011-2015","Percent of adults with less than a high school diploma, 2011-2015","Percent of adults with a high school diploma only, 2011-2015","Percent of adults completing some college or associate's degree, 2011-2015","Percent of adults with a bachelor's degree or higher, 2011-2015"
0,0,US,United States,NaN,NaN,NaN,NaN,"52,373,312","34,158,051","11,650,730",...,27.4,24.4,"28,229,094","58,722,528","61,558,628","62,952,272",13.3,27.8,29.1,29.8
1,1000,AL,Alabama,NaN,NaN,NaN,NaN,"1,062,306","468,269","136,287",...,25.9,19.0,"509,891","1,005,295","962,515","761,650",15.7,31.0,29.7,23.5
2,1001,AL,Autauga County,2.0,2.0,2.0,2.0,"6,611","3,757",933,...,26.9,18.0,"4,656","12,182","11,044","8,437",12.8,33.5,30.4,23.2
3,1003,AL,Baldwin County,4.0,5.0,3.0,2.0,"18,726","8,426","2,334",...,29.3,23.1,"14,360","39,431","43,500","39,710",10.5,28.8,31.8,29.0
4,1005,AL,Barbour County,6.0,6.0,6.0,6.0,"8,120","2,242",581,...,21.3,10.9,"5,021","6,490","4,943","2,354",26.7,34.5,26.3,12.5

In [9]:
#create list of states to eliminate counties
state_list = min_wage_df['State'].unique().tolist()
state_list.append('United States')
state_list

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Guam',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Puerto Rico',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'U.S. Virgin Islands',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'United States']

In [10]:
#drop rows that are not state info
new_educ_df = educ_df.loc[educ_df['Area name'].isin(state_list)]

In [11]:
#drop columns
new_educ_df = new_educ_df[['State', 'Area name', 'Less than a high school diploma, 1970',
       'High school diploma only, 1970', 'Some college (1-3 years), 1970',
       'Four years of college or higher, 1970',
       'Percent of adults with less than a high school diploma, 1970',
       'Percent of adults with a high school diploma only, 1970',
       'Percent of adults completing some college (1-3 years), 1970',
       'Percent of adults completing four years of college or higher, 1970',
       'Less than a high school diploma, 1980',
       'High school diploma only, 1980', 'Some college (1-3 years), 1980',
       'Four years of college or higher, 1980',
       'Percent of adults with less than a high school diploma, 1980',
       'Percent of adults with a high school diploma only, 1980',
       'Percent of adults completing some college (1-3 years), 1980',
       'Percent of adults completing four years of college or higher, 1980',
       'Less than a high school diploma, 1990',
       'High school diploma only, 1990',
       "Some college or associate's degree, 1990",
       "Bachelor's degree or higher, 1990",
       'Percent of adults with less than a high school diploma, 1990',
       'Percent of adults with a high school diploma only, 1990',
       "Percent of adults completing some college or associate's degree, 1990",
       "Percent of adults with a bachelor's degree or higher, 1990",
       "Less than a high school diploma, 2000",
       'High school diploma only, 2000',
       "Some college or associate's degree, 2000",
       "Bachelor's degree or higher, 2000",
       'Percent of adults with less than a high school diploma, 2000',
       'Percent of adults with a high school diploma only, 2000',
       "Percent of adults completing some college or associate's degree, 2000",
       "Percent of adults with a bachelor's degree or higher, 2000",
       'Less than a high school diploma, 2011-2015',
       "High school diploma only, 2011-2015",
       "Some college or associate's degree, 2011-2015",
       "Bachelor's degree or higher, 2011-2015",
       'Percent of adults with less than a high school diploma, 2011-2015',
       'Percent of adults with a high school diploma only, 2011-2015',
       "Percent of adults completing some college or associate's degree, 2011-2015",
       "Percent of adults with a bachelor's degree or higher, 2011-2015"]]

In [12]:
#rename columns
new_educ_df = new_educ_df.rename(columns ={'Less than a high school diploma, 1970':'1970 < high school',
       'High school diploma only, 1970':'1970 high school', 'Some college (1-3 years), 1970': '1970 some college',
       'Four years of college or higher, 1970':'1970 college > 4',
       'Percent of adults with less than a high school diploma, 1970':'1970 percent < high school',
       'Percent of adults with a high school diploma only, 1970':'1970 percent high school',
       'Percent of adults completing some college (1-3 years), 1970': '1970 percent some college',
       'Percent of adults completing four years of college or higher, 1970':'1970 percent college > 4',
       'Less than a high school diploma, 1980':'1980 <high school',
       'High school diploma only, 1980': '1980 high school', 'Some college (1-3 years), 1980': '1980 some college',
       'Four years of college or higher, 1980': '1980 college > 4',
       'Percent of adults with less than a high school diploma, 1980': '1980 percent < high school',
       'Percent of adults with a high school diploma only, 1980': '1980 percent high school',
       'Percent of adults completing some college (1-3 years), 1980':'1980 percent some college',
       'Percent of adults completing four years of college or higher, 1980':'1980 percent college > 4',
       'Less than a high school diploma, 1990': '1990 < high school',
       'High school diploma only, 1990':'1990 high school',
       "Some college or associate's degree, 1990":'1990 some college',
       "Bachelor's degree or higher, 1990": '1990 college > 4',
       'Percent of adults with less than a high school diploma, 1990':'1990 percent < high school',
       'Percent of adults with a high school diploma only, 1990':'1990 percent high school',
       "Percent of adults completing some college or associate's degree, 1990":'1990 percent some college',
       "Percent of adults with a bachelor's degree or higher, 1990":'1990 percent college > 4',
       "Less than a high school diploma, 2000":'2000 < high school',
       'High school diploma only, 2000':'2000 high school',
       "Some college or associate's degree, 2000":'2000 some college',
       "Bachelor's degree or higher, 2000": '2000 college > 4',
       'Percent of adults with less than a high school diploma, 2000': '2000 percent < high school',
       'Percent of adults with a high school diploma only, 2000':'2000 percent high school',
       "Percent of adults completing some college or associate's degree, 2000":'2000 percent some college',
       "Percent of adults with a bachelor's degree or higher, 2000":'2000 percent college > 4',
       'Less than a high school diploma, 2011-2015':'2011-2015 some high school',
       "High school diploma only, 2011-2015":'2011-2015 high school',
       "Some college or associate's degree, 2011-2015":'2011-2015 some college',
       "Bachelor's degree or higher, 2011-2015":'2011-2015 college > 4',
       'Percent of adults with less than a high school diploma, 2011-2015':'2011-2015 percent < high school',
       'Percent of adults with a high school diploma only, 2011-2015': '2011-2015 percent high school',
       "Percent of adults completing some college or associate's degree, 2011-2015": '2011-2015 percent some college',
       "Percent of adults with a bachelor's degree or higher, 2011-2015":'2011-2015 percent college > 4'})

In [26]:
new_educ_df.reset_index(drop=True, inplace=True)
new_educ_df

,State,Area name,1970 < high school,1970 high school,1970 some college,1970 college > 4,1970 percent < high school,1970 percent high school,1970 percent some college,1970 percent college > 4,...,2000 percent some college,2000 percent college > 4,2011-2015 some high school,2011-2015 high school,2011-2015 some college,2011-2015 college > 4,2011-2015 percent < high school,2011-2015 percent high school,2011-2015 percent some college,2011-2015 percent college > 4
0,US,United States,"52,373,312","34,158,051","11,650,730","11,717,266",47.7,31.1,10.6,10.7,...,27.4,24.4,"28,229,094","58,722,528","61,558,628","62,952,272",13.3,27.8,29.1,29.8
1,AL,Alabama,"1,062,306","468,269","136,287","141,936",58.7,25.9,7.5,7.8,...,25.9,19.0,"509,891","1,005,295","962,515","761,650",15.7,31.0,29.7,23.5
2,AK,Alaska,"44,994","50,820","20,052","19,082",33.3,37.7,14.9,14.1,...,35.7,24.7,"36,493","129,324","168,702","129,921",7.9,27.8,36.3,28.0
3,AZ,Arizona,"383,873","289,781","127,063","115,020",41.9,31.6,13.9,12.6,...,33.1,23.5,"609,245","1,063,765","1,489,284","1,199,010",14.0,24.4,34.1,27.5
4,AR,Arkansas,"635,149","271,150","80,835","70,378",60.1,25.6,7.6,6.7,...,24.5,16.7,"299,099","685,277","564,266","414,099",15.2,34.9,28.7,21.1
5,CA,California,"4,062,367","3,566,578","1,784,772","1,462,266",37.4,32.8,16.4,13.4,...,30.0,26.6,"4,599,641","5,231,824","7,487,209","7,939,184",18.2,20.7,29.6,31.4
6,CO,Colorado,"411,837","392,787","166,188","170,326",36.1,34.4,14.6,14.9,...,31.0,32.7,"327,222","767,325","1,083,623","1,342,007",9.3,21.8,30.8,38.1
7,CT,Connecticut,"740,830","534,830","179,635","230,303",44.0,31.7,10.7,13.7,...,24.1,31.4,"249,857","673,973","613,418","925,607",10.1,27.4,24.9,37.6
8,DE,Delaware,"130,463","91,211","28,091","37,630",45.4,31.7,9.8,13.1,...,26.1,25.0,"73,373","196,236","172,147","189,362",11.6,31.1,27.3,30.0
9,DC,District of Columbia,"189,720","110,767","47,331","75,233",44.8,26.2,11.2,17.8,...,18.2,39.1,"48,430","81,697","76,073","247,752",10.7,18.0,16.8,54.6
10,DC,District of Columbia,"189,720","110,767","47,331","75,233",44.8,26.2,11.2,17.8,...,18.2,39.1,"48,430","81,697","76,073","247,752",10.7,18.0,16.8,54.6
11,FL,Florida,"1,882,537","1,219,216","458,864","407,264",47.4,30.7,11.6,10.3,...,28.8,22.3,"1,814,266","4,074,252","4,155,539","3,780,148",13.1,29.5,30.1,27.3
12,GA,Georgia,"1,399,175","528,537","211,101","216,997",59.4,22.4,9.0,9.2,...,25.6,24.3,"948,697","1,845,924","1,832,100","1,873,484",14.6,28.4,28.2,28.8
13,HI,Hawaii,"146,701","138,307","46,088","53,747",38.1,35.9,12.0,14.0,...,29.9,26.2,"86,307","268,336","310,695","296,714",9.0,27.9,32.3,30.8
14,ID,Idaho,"149,531","127,462","55,171","36,748",40.5,34.6,15.0,10.0,...,34.6,21.7,"108,506","283,236","372,417","266,589",10.5,27.5,36.1,25.9
15,IL,Illinois,"2,885,938","1,944,720","630,845","627,825",47.4,31.9,10.4,10.3,...,27.6,26.1,"1,038,317","2,308,309","2,475,681","2,777,871",12.1,26.8,28.8,32.3
16,IN,Indiana,"1,292,237","991,710","233,791","228,676",47.1,36.1,8.5,8.3,...,25.5,19.4,"524,854","1,494,302","1,256,861","1,040,256",12.2,34.6,29.1,24.1
17,IA,Iowa,"632,366","596,649","171,454","140,119",41.0,38.7,11.1,9.1,...,28.8,21.2,"174,544","660,248","668,138","546,414",8.5,32.2,32.6,26.7
18,KS,Kansas,"492,098","438,583","155,828","139,479",40.1,35.8,12.7,11.4,...,30.4,25.8,"182,906","505,583","600,995","580,214",9.8,27.0,32.1,31.0
19,KY,Kentucky,"1,053,196","412,640","123,919","123,543",61.5,24.1,7.2,7.2,...,23.4,17.1,"467,710","993,853","834,709","658,944",15.8,33.6,28.2,22.3
20,ME,Maine,"243,532","188,886","60,424","44,981",45.3,35.1,11.2,8.4,...,26.3,22.9,"79,605","316,556","280,455","276,161",8.4,33.2,29.4,29.0
21,MD,Maryland,"992,786","593,295","206,230","290,238",47.7,28.5,9.9,13.9,...,25.7,31.4,"427,428","1,026,600","1,041,461","1,522,970",10.6,25.5,25.9,37.9
22,MA,Massachusetts,"1,305,345","1,096,249","346,399","394,470",41.5,34.9,11.0,12.6,...,24.3,33.2,"471,105","1,169,375","1,102,927","1,867,103",10.2,25.4,23.9,40.5
23,MI,Michigan,"2,170,415","1,546,679","444,452","432,915",47.2,33.7,9.7,9.4,...,30.3,21.8,"693,457","1,988,382","2,178,934","1,791,892",10.4,29.9,32.8,26.9
24,MN,Minnesota,"844,065","687,242","238,128","220,932",42.4,34.5,12.0,11.1,...,31.7,27.4,"274,773","946,686","1,186,288","1,225,245",7.6,26.1,32.7,33.7
25,MS,Mississippi,"656,198","266,121","99,907","89,563",59.0,23.9,9.0,8.1,...,26.6,16.9,"342,576","587,586","609,203","401,000",17.7,30.3,31.4,20.7
26,MO,Missouri,"1,332,385","795,144","241,285","233,465",51.2,30.6,9.3,9.0,...,27.0,21.6,"469,817","1,266,920","1,216,654","1,098,909",11.6,31.3,30.0,27.1
27,MT,Montana,"148,759","124,113","51,500","40,136",40.8,34.0,14.1,11.0,...,31.5,24.4,"49,901","208,026","229,073","203,448",7.2,30.1,33.2,29.5
28,NE,Nebraska,"327,773","299,440","99,767","77,643",40.7,37.2,12.4,9.6,...,31.6,23.7,"113,474","334,449","411,641","355,836",9.3,27.5,33.9,29.3
29,NV,Nevada,"92,220","103,235","41,042","28,592",34.8,38.9,15.5,10.8,...,33.2,18.2,"280,897","532,115","637,727","433,498",14.9,28.2,33.8,23.0
30,NH,New Hampshire,"168,709","136,982","48,837","43,153",42.4,34.4,12.3,10.9,...,28.7,28.7,"71,059","266,443","264,897","322,746",7.7,28.8,28.6,34.9
31,NJ,New Jersey,"1,925,498","1,292,000","358,982","480,126",47.5,31.8,8.8,11.8,...,22.9,29.8,"693,453","1,741,562","1,414,624","2,241,856",11.4,28.6,23.2,36.8
32,NM,New Mexico,"219,208","146,711","61,354","62,350",44.8,30.0,12.5,12.7,...,28.8,23.5,"216,560","361,324","429,863","360,075",15.8,26.4,31.4,26.3
33,NY,New York,"4,932,459","3,249,934","997,627","1,238,535",47.3,31.2,9.6,11.9,...,23.9,27.4,"1,930,117","3,588,894","3,320,660","4,596,124",14.4,26.7,24.7,34.2
34,NC,North Carolina,"1,628,322","572,928","221,396","223,626",61.5,21.7,8.4,8.5,...,27.2,22.5,"934,265","1,755,995","2,025,276","1,866,765",14.2,26.7,30.8,28.4
35,ND,North Dakota,"158,151","87,806","45,680","26,702",49.7,27.6,14.3,8.4,...,34.0,22.0,"38,705","128,248","171,543","129,534",8.3,27.4,36.7,27.7
36,OH,Ohio,"2,665,837","2,010,237","496,057","528,186",46.8,35.3,8.7,9.3,...,25.8,21.1,"849,597","2,669,316","2,258,567","2,040,028",10.9,34.1,28.9,26.1
37,OK,Oklahoma,"688,737","426,577","164,711","142,544",48.4,30.0,11.6,10.0,...,28.8,20.3,"328,201","796,141","781,821","606,229",13.1,31.7,31.1,24.1
38,OR,Oregon,"461,957","404,406","153,489","136,172",40.0,35.0,13.3,11.8,...,33.8,25.1,"277,297","659,119","943,499","835,057",10.2,24.3,34.8,30.8
39,PA,Pennsylvania,"3,329,284","2,306,108","469,256","585,290",49.8,34.5,7.0,8.7,...,21.4,22.4,"950,001","3,207,989","2,134,085","2,522,037",10.8,36.4,24.2,28.6
40,RI,Rhode Island,"281,089","151,919","41,875","49,199",53.6,29.0,8.0,9.4,...,24.6,25.6,"99,747","196,988","194,089","229,817",13.8,27.3,26.9,31.9
41,SC,South Carolina,"798,556","264,070","106,092","115,119",62.2,20.6,8.3,9.0,...,25.9,20.4,"463,330","955,658","961,479","829,540",14.4,29.8,30.0,25.8
42,SD,South Dakota,"163,089","108,908","47,457","30,043",46.7,31.2,13.6,8.6,...,30.2,21.5,"49,913","172,522","179,803","148,801",9.1,31.3,32.6,27.0
43,TN,Tennessee,"1,239,514","546,481","173,969","167,982",58.2,25.7,8.2,7.9,...,24.8,19.6,"636,138","1,445,466","1,206,156","1,092,276",14.5,33.0,27.5,24.9
44,TX,Texas,"3,060,636","1,458,297","665,746","632,476",52.6,25.1,11.4,10.9,...,27.6,23.2,"3,027,897","4,220,317","4,893,713","4,623,216",18.1,25.2,29.2,27.6
45,UT,Utah,"161,198","176,606","85,705","68,828",32.7,35.9,17.4,14.0,...,37.0,26.1,"146,833","388,126","618,202","521,037",8.8,23.2,36.9,31.1
46,VT,Vermont,"99,897","76,675","29,346","26,725",42.9,33.0,12.6,11.5,...,24.6,29.4,"35,785","131,270","112,584","157,018",8.2,30.1,25.8,36.0
47,VA,Virginia,"1,277,359","616,942","250,838","300,943",52.2,25.2,10.3,12.3,...,26.0,29.5,"648,934","1,381,751","1,513,471","2,022,217",11.7,24.8,27.2,36.3
48,WA,Washington,"666,656","661,800","265,140","232,292",36.5,36.2,14.5,12.7,...,34.4,27.7,"451,591","1,097,839","1,619,878","1,552,130",9.6,23.3,34.3,32.9
49,WV,West Virginia,"566,026","267,165","70,605","65,640",58.4,27.6,7.3,6.8,...,21.0,14.8,"195,354","528,555","325,536","248,673",15.0,40.7,25.1,19.2
50,WI,Wisconsin,"1,060,531","811,048","230,874","227,343",45.5,34.8,9.9,9.8,...,28.1,22.4,"347,428","1,239,523","1,208,472","1,077,696",9.0,32.0,31.2,27.8
51,WY,Wyoming,"65,252","63,630","26,074","20,693",37.1,36.2,14.8,11.8,...,35.0,21.9,"29,566","112,872","143,034","98,800",7.7,29.4,37.2,25.7
52,PR,Puerto Rico,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.4,18.3,"650,897","653,759","526,603","583,572",27.0,27.1,21.8,24.2

In [14]:
#read in unemployment csv
employ_path = 'Data/USUnemployment.csv'
employ_df = pd.read_csv(employ_path)
employ_df.head()

   Year  Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec
0  1948  3.4  3.8  4.0  3.9  3.5  3.6  3.6  3.9  3.8  3.7  3.8  4.0
1  1949  4.3  4.7  5.0  5.3  6.1  6.2  6.7  6.8  6.6  7.9  6.4  6.6
2  1950  6.5  6.4  6.3  5.8  5.5  5.4  5.0  4.5  4.4  4.2  4.2  4.3
3  1951  3.7  3.4  3.4  3.1  3.0  3.2  3.1  3.1  3.3  3.5  3.5  3.1
4  1952  3.2  3.1  2.9  2.9  3.0  3.0  3.2  3.4  3.1  3.0  2.8  2.7

In [15]:
#add column to calculate average of unemployment rates
employ_df['Yearly Average']=round((employ_df['Jan']+employ_df['Feb']+employ_df['Mar']+employ_df['Apr']+employ_df['May']+employ_df['Jun']+employ_df['Jul']+employ_df['Aug']+
                    employ_df['Sep']+employ_df['Oct']+employ_df['Nov']+employ_df['Dec'])/12, 2)
employ_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yearly Average
0,1948,3.4,3.8,4.0,3.9,3.5,3.6,3.6,3.9,3.8,3.7,3.8,4.0,3.75
1,1949,4.3,4.7,5.0,5.3,6.1,6.2,6.7,6.8,6.6,7.9,6.4,6.6,6.05
2,1950,6.5,6.4,6.3,5.8,5.5,5.4,5.0,4.5,4.4,4.2,4.2,4.3,5.21
3,1951,3.7,3.4,3.4,3.1,3.0,3.2,3.1,3.1,3.3,3.5,3.5,3.1,3.28
4,1952,3.2,3.1,2.9,2.9,3.0,3.0,3.2,3.4,3.1,3.0,2.8,2.7,3.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,2015,5.7,5.5,5.4,5.4,5.6,5.3,5.2,5.1,5.0,5.0,5.1,5.0,5.28
68,2016,4.9,4.9,5.0,5.0,4.8,4.9,4.8,4.9,5.0,4.9,4.7,4.7,4.88
69,2017,4.7,4.6,4.4,4.4,4.4,4.3,4.3,4.4,4.2,4.1,4.2,4.1,4.34
70,2018,4.1,4.1,4.0,4.0,3.8,4.0,3.8,3.8,3.7,3.8,3.7,3.9,3.89
71,2019,4.0,3.8,3.8,3.6,3.6,3.7,3.7,3.7,3.5,3.6,3.5,3.5,3.67

In [27]:
# narrow down years to match minimum wage data
employ_df= employ_df.loc[employ_df['Year'] >= 1968]
employ_df.reset_index(drop=True, inplace=True)
employ_df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Yearly Average
0,1968,3.7,3.8,3.7,3.5,3.5,3.7,3.7,3.5,3.4,3.4,3.4,3.4,3.56
1,1969,3.4,3.4,3.4,3.4,3.4,3.5,3.5,3.5,3.7,3.7,3.5,3.5,3.49
2,1970,3.9,4.2,4.4,4.6,4.8,4.9,5.0,5.1,5.4,5.5,5.9,6.1,4.98
3,1971,5.9,5.9,6.0,5.9,5.9,5.9,6.0,6.1,6.0,5.8,6.0,6.0,5.95
4,1972,5.8,5.7,5.8,5.7,5.7,5.7,5.6,5.6,5.5,5.6,5.3,5.2,5.60
5,1973,4.9,5.0,4.9,5.0,4.9,4.9,4.8,4.8,4.8,4.6,4.8,4.9,4.86
6,1974,5.1,5.2,5.1,5.1,5.1,5.4,5.5,5.5,5.9,6.0,6.6,7.2,5.64
7,1975,8.1,8.1,8.6,8.8,9.0,8.8,8.6,8.4,8.4,8.4,8.3,8.2,8.48
8,1976,7.9,7.7,7.6,7.7,7.4,7.6,7.8,7.8,7.6,7.7,7.8,7.8,7.70
9,1977,7.5,7.6,7.4,7.2,7.0,7.2,6.9,7.0,6.8,6.8,6.8,6.4,7.05
10,1978,6.4,6.3,6.3,6.1,6.0,5.9,6.2,5.9,6.0,5.8,5.9,6.0,6.07
11,1979,5.9,5.9,5.8,5.8,5.6,5.7,5.7,6.0,5.9,6.0,5.9,6.0,5.85
12,1980,6.3,6.3,6.3,6.9,7.5,7.6,7.8,7.7,7.5,7.5,7.5,7.2,7.18
13,1981,7.5,7.4,7.4,7.2,7.5,7.5,7.2,7.4,7.6,7.9,8.3,8.5,7.62
14,1982,8.6,8.9,9.0,9.3,9.4,9.6,9.8,9.8,10.1,10.4,10.8,10.8,9.71
15,1983,10.4,10.4,10.3,10.2,10.1,10.1,9.4,9.5,9.2,8.8,8.5,8.3,9.60
16,1984,8.0,7.8,7.8,7.7,7.4,7.2,7.5,7.5,7.3,7.4,7.2,7.3,7.51
17,1985,7.3,7.2,7.2,7.3,7.2,7.4,7.4,7.1,7.1,7.1,7.0,7.0,7.19
18,1986,6.7,7.2,7.2,7.1,7.2,7.2,7.0,6.9,7.0,7.0,6.9,6.6,7.00
19,1987,6.6,6.6,6.6,6.3,6.3,6.2,6.1,6.0,5.9,6.0,5.8,5.7,6.18
20,1988,5.7,5.7,5.7,5.4,5.6,5.4,5.4,5.6,5.4,5.4,5.3,5.3,5.49
21,1989,5.4,5.2,5.0,5.2,5.2,5.3,5.2,5.2,5.3,5.3,5.4,5.4,5.26
22,1990,5.4,5.3,5.2,5.4,5.4,5.2,5.5,5.7,5.9,5.9,6.2,6.3,5.62
23,1991,6.4,6.6,6.8,6.7,6.9,6.9,6.8,6.9,6.9,7.0,7.0,7.3,6.85
24,1992,7.3,7.4,7.4,7.4,7.6,7.8,7.7,7.6,7.6,7.3,7.4,7.4,7.49
25,1993,7.3,7.1,7.0,7.1,7.1,7.0,6.9,6.8,6.7,6.8,6.6,6.5,6.91
26,1994,6.6,6.6,6.5,6.4,6.1,6.1,6.1,6.0,5.9,5.8,5.6,5.5,6.10
27,1995,5.6,5.4,5.4,5.8,5.6,5.6,5.7,5.7,5.6,5.5,5.6,5.6,5.59
28,1996,5.6,5.5,5.5,5.6,5.6,5.3,5.5,5.1,5.2,5.2,5.4,5.4,5.41
29,1997,5.3,5.2,5.2,5.1,4.9,5.0,4.9,4.8,4.9,4.7,4.6,4.7,4.94
30,1998,4.6,4.6,4.7,4.3,4.4,4.5,4.5,4.5,4.6,4.5,4.4,4.4,4.50
31,1999,4.3,4.4,4.2,4.3,4.2,4.3,4.3,4.2,4.2,4.1,4.1,4.0,4.22
32,2000,4.0,4.1,4.0,3.8,4.0,4.0,4.0,4.1,3.9,3.9,3.9,3.9,3.97
33,2001,4.2,4.2,4.3,4.4,4.3,4.5,4.6,4.9,5.0,5.3,5.5,5.7,4.74
34,2002,5.7,5.7,5.7,5.9,5.8,5.8,5.8,5.7,5.7,5.7,5.9,6.0,5.78
35,2003,5.8,5.9,5.9,6.0,6.1,6.3,6.2,6.1,6.1,6.0,5.8,5.7,5.99
36,2004,5.7,5.6,5.8,5.6,5.6,5.6,5.5,5.4,5.4,5.5,5.4,5.4,5.54
37,2005,5.3,5.4,5.2,5.2,5.1,5.0,5.0,4.9,5.0,5.0,5.0,4.9,5.08
38,2006,4.7,4.8,4.7,4.7,4.6,4.6,4.7,4.7,4.5,4.4,4.5,4.4,4.61
39,2007,4.6,4.5,4.4,4.5,4.4,4.6,4.7,4.6,4.7,4.7,4.7,5.0,4.62
40,2008,5.0,4.9,5.1,5.0,5.4,5.6,5.8,6.1,6.1,6.5,6.8,7.3,5.80
41,2009,7.8,8.3,8.7,9.0,9.4,9.5,9.5,9.6,9.8,10.0,9.9,9.9,9.28
42,2010,9.8,9.8,9.9,9.9,9.6,9.4,9.4,9.5,9.5,9.4,9.8,9.3,9.61
43,2011,9.1,9.0,9.0,9.1,9.0,9.1,9.0,9.0,9.0,8.8,8.6,8.5,8.93
44,2012,8.3,8.3,8.2,8.2,8.2,8.2,8.2,8.1,7.8,7.8,7.7,7.9,8.08
45,2013,8.0,7.7,7.5,7.6,7.5,7.5,7.3,7.2,7.2,7.2,6.9,6.7,7.36
46,2014,6.6,6.7,6.7,6.2,6.3,6.1,6.2,6.1,5.9,5.7,5.8,5.6,6.16
47,2015,5.7,5.5,5.4,5.4,5.6,5.3,5.2,5.1,5.0,5.0,5.1,5.0,5.28
48,2016,4.9,4.9,5.0,5.0,4.8,4.9,4.8,4.9,5.0,4.9,4.7,4.7,4.88
49,2017,4.7,4.6,4.4,4.4,4.4,4.3,4.3,4.4,4.2,4.1,4.2,4.1,4.34
50,2018,4.1,4.1,4.0,4.0,3.8,4.0,3.8,3.8,3.7,3.8,3.7,3.9,3.89
51,2019,4.0,3.8,3.8,3.6,3.6,3.7,3.7,3.7,3.5,3.6,3.5,3.5,3.67

In [17]:
#read gdp csv
gdp_path = 'Data/GDP.csv'
gdp_df = pd.read_csv(gdp_path)
gdp_df.head()

         DATE      GDP
0  1947-01-01  243.164
1  1947-04-01  245.968
2  1947-07-01  249.585
3  1947-10-01  259.745
4  1948-01-01  265.742

In [18]:
#parse column to datetime
gdp_df['DATE']=pd.to_datetime(gdp_df['DATE'], format='%Y-%m-%d')

In [19]:
#pull out year and then group by to find average of each year
gdp_df['YEAR']=gdp_df.DATE.dt.year
grouped_df=gdp_df.groupby('YEAR')
avg_gdp = grouped_df.mean()
merged_gdp_df = gdp_df.merge(avg_gdp, on='YEAR')

In [28]:
#rename columns
merged_gdp_df=merged_gdp_df.rename(columns={'GDP_x':'Quarterly GDP', 'GDP_y': 'AVG yearly GDP'})
#drop rows before 1968 to match other datasets
merged_gdp_df = merged_gdp_df.loc[merged_gdp_df['YEAR']>=1968]
merged_gdp_df.reset_index(drop=True, inplace=True)

In [2]:
from config import connection_string, engine

In [30]:
#add dataaframe to table
min_wage_df.to_sql(name='min_wage', con=engine, if_exists='replace', index=True)
new_educ_df.to_sql(name='educ_level', con=engine, if_exists='replace', index=True)
employ_df.to_sql(name='unemployment', con=engine, if_exists='replace', index=True)
merged_gdp_df.to_sql(name='gdp', con=engine, if_exists='replace', index=True)

In [31]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect =True)

In [32]:

# Confirm tables
engine.table_names()

['min_wage', 'educ_level', 'unemployment', 'gdp']